[submodule "sequent-prover"]
	path = sequent-prover
	url = git@github.com:CUBERLEON/sequent-prover.git
[submodule "racing"]
	path = racing
	url = git@github.com:CUBERLEON/racing.git
[submodule "database-manager"]
	path = database-manager
	url = git@github.com:CUBERLEON/database-manager.git
[submodule "tanks-multiplayer"]
	path = tanks-multiplayer
	url = git@github.com:CUBERLEON/tanks-multiplayer.git
